<AuthorizeView>
    <Authorized>
        <NavLink class="nav-link" href="Identity/Account/Manage">
            <span class="oi oi-person" aria-hidden="true"></span>@context.User.Identity.Name
        </NavLink>
    </Authorized>
</AuthorizeView>