
<AuthorizeView>
    <Authorized>

    </Authorized>
    <NotAuthorized>
        <NavLink class="nav-link" href="Identity/Account/Login">
            <span class="oi oi-account-login" aria-hidden="true"></span>Log In
        </NavLink>
    </NotAuthorized>
</AuthorizeView>
