<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MyRota</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="rota">
                <span class="oi oi-plus" aria-hidden="true"></span> Rota
            </NavLink>
        </li>
        <AuthorizeView Roles="User">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ListEmployees">
                    <span class="oi oi-plus" aria-hidden="true"></span> Employees List
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="User">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="AssignShift">
                    <span class="oi oi-plus" aria-hidden="true"></span> Assign Shifts
                </NavLink>
            </li>
        </AuthorizeView>

    </ul>
    <hr class="mb-5 dropdown-divider" />
    <ul class="nav flex-column mt-auto">
        <li class="nav-item px-3">
            <LoginComponent />
        </li>
        <li class="nav-item px-3">
            <RegisterComponent />
        </li>
        <li class="nav-item px-3">
            <CurrentUser />
        </li>
        <li class="nav-item px-3">
            <LogoutComponent />
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
